html {
  font-family: Inconsolata, monospace;
  background-color: #6a8372;
}

#page {
  display: grid;
  grid-template:
    'head head' minmax(20px, 5vh)
    'users-panel timer-panel' min(90vh)
    'foot foot' minmax(20px, 5vh) / 1fr 1fr;
  height: 100vh;
}

#page > .header {
  grid-area: head;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  background-color: #43676b;
  align-items: center;
  padding: 0 2ch;
}

#page > .header .github-logo {
  height: 2ch;
  max-height: 30px;
}

#page > .footer {
  grid-area: foot;
  text-align: center;
}

.revision-link {
  text-decoration: none;
  color: #724938;
}

.users-panel {
  grid-area: users-panel;
}

.users-panel ul {
  list-style-type: none;
}

.users-panel ul > li:nth-child(1) {
  list-style-type: '🚗';
}

.timer-panel {
  grid-area: timer-panel;
  margin-top: 2ch;
}

.emoji-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.timer-panel .unit-label {
  margin-left: 5px;
  margin-right: 5px;
}

.timer-panel .minutes-input {
  width: 6ch;
}
