:root {
  --page-height: 100dvh;
  --content-height: 90dvh;
  --non-content-max-height: calc((var(--page-height) - var(--content-height)));
  --header-height: minmax(
    30px,
    calc(((var(--non-content-max-height) / 3) * 2))
  );
  --footer-height: minmax(20px, calc(((var(--non-content-max-height) / 3))));
  --brand-base-color: #6a8372;
  --brand-dark-color: #43676b;
  --user-image-width: 32px;
  --base-char-color: #181b39;
}

html {
  font-family: Inconsolata, monospace;
  background-color: var(--brand-base-color);
  width: 100%;
  height: var(--page-height);
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  /* Do not use max-height because of contained images will not fit with own max-* when parent uses max-* */
  height: max(100%);
}

#page {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: Inconsolata, monospace;
  background-color: var(--brand-base-color);
  caret-color: transparent;
  place-items: center;
  color: var(--base-char-color);
}

@media screen and (width <= 799px) {
  #page {
    grid-template:
      'head' var(--header-height)
      'timer-panel' max(calc((var(--content-height) / 3)))
      'users-panel' min(calc((var(--content-height) / 3) * 2))
      'foot' var(--footer-height) / 1fr;
  }
}

@media screen and (width >= 800px) {
  #page {
    grid-template:
      'head head' var(--header-height)
      'users-panel timer-panel' var(--content-height)
      'foot foot' var(--footer-height) / 1fr 1fr;
  }
}

#page > .header {
  grid-area: head;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  background-color: var(--brand-dark-color);
  align-items: center;
  padding: 0 2ch;
  width: 100%;
  height: 100%;
  color: black;
}

#page > .header .github-link {
  display: flex;
  align-items: center;
}

#page > .header .github-logo {
  max-width: 100%;
  max-height: 85%;
  max-height: 24px;
}

#page > .footer {
  grid-area: foot;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: small;
}

.footer .footer-body {
  position: sticky;
  top: 100%;
  height: 100%;
}

#page input {
  border: none;
  text-align: center;
  caret-color: green;
}

#page input::placeholder {
  color: var(--brand-dark-color);
}

#page select {
  border: none;
  border-radius: 0.8ch;
  background-color: #d7c4bb;
  text-align: center;
}

.standardized-emoji {
  font-family: 'Noto Color Emoji', sans-serif;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.revision-link {
  text-decoration: none;
  color: #003847;
}

.users-panel {
  grid-area: users-panel;
  min-height: 200px;
  min-width: 60%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.users-panel ol {
  list-style-type: none;
  margin-block-start: auto;
}

.users-panel ol > li {
  list-style-position: outside;
  cursor: grab;
}

.users-panel ol > li:active {
  /* Appling to drag overred elements will not work. So chrome basically shows "cursor: copy */
  cursor: grabbing;
}

.users-panel .list-container {
  display: flex;
  justify-content: space-between;
}

.users-panel .list-item {
  display: inline-block;
  margin: 1ch 0;
  margin-left: 1ch;
  vertical-align: middle;
  width: 100%;
}

#username-input {
  background-color: transparent;
  border-bottom: var(--brand-dark-color) 1px;
  background-image: url('/images/github-mark.svg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 100%;
}

.users-panel ol > li .user-image {
  margin-right: 2ch;
  width: var(--user-image-width);
  border-radius: 50%;
  float: left;
}

.users-panel ol > li:nth-child(2) {
  list-style-type: '🚗';
  font-size: larger;
}

.users-panel ol > li::before {
  font-family: 'Noto Color Emoji', sans-serif;
}

.timer-panel {
  grid-area: timer-panel;
  padding-left: 2ch;
  padding-right: 2ch;
  text-align: center;
}

.timer-container {
  display: grid;
  place-items: center;
  width: 100%;
}

.timer-row {
  display: flex;
  font-size: xx-large;
}

.timer-panel .interval-input {
  font-size: medium;
  margin-left: 3ch;
}

.timer-panel .unit-label {
  padding-left: 5px;
  padding-right: 5px;
}

.newinterval-row {
  display: flex;
  justify-content: space-between;
  width: 24ch;
  margin-left: 2ch;
}

#page .major {
  font-size: xx-large;
}

.feature-toggle {
  display: inline-block;
}

.feature-toggle input[type='checkbox'] {
  display: none;
}

.feature-toggle input[type='checkbox'] + label {
  cursor: pointer;
  font-size: xx-large;
  font-family: 'Noto Color Emoji', sans-serif;
}

.sound-toggle input + label::after {
  content: '🙉';
}

.notification-toggle input + label::after {
  content: '🙈 ';
}

.sound-toggle input:checked + label::after {
  content: '🐈';
}

.notification-toggle input:checked + label::after {
  content: '📡';
}

.chars-space {
  margin-left: 1ch;
}
