html {
  font-family: Inconsolata, monospace;
  background-color: #6a8372;
}

#page {
  display: grid;
  height: 100vh;
}

@media screen and (max-width: 799px) {
  #page {
    grid-template:
      'head' minmax(20px, 5vh)
      'timer-panel' min(30vh)
      'users-panel' min(60vh)
      'foot' minmax(20px, 5vh) / 1fr;
  }

  .users-panel {
    margin-top: 3ch;
  }
}

@media screen and (min-width: 800px) {
  #page {
    grid-template:
      'head head' minmax(20px, 5vh)
      'users-panel timer-panel' min(90vh)
      'foot foot' minmax(20px, 5vh) / 1fr 1fr;
  }
}

#page > .header {
  grid-area: head;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  background-color: #43676b;
  align-items: center;
  padding: 0 2ch;
}

#page > .header .github-logo {
  height: 2ch;
  max-height: 30px;
}

#page > .footer {
  grid-area: foot;
  text-align: center;
}

#page input {
  border: none;
  border-radius: 1.5ch;
  background-color: #d7c4bb;
  text-align: center;
}

.revision-link {
  text-decoration: none;
  color: #724938;
}

.users-panel {
  grid-area: users-panel;
}

.users-panel ul {
  list-style-type: none;
}

.users-panel ul > li {
  list-style-position: outside;
}

.users-panel .list-item {
  display: inline-block;
  margin: 1ch 0;
  margin-left: 1ch;
  vertical-align: middle;
}

.users-panel .add-input {
  width: 18ch;
}

.users-panel ul > li .user-image {
  margin-right: 2ch;
  width: 32px;
  border-radius: 50%;
  float: left;
}

.users-panel ul > li:nth-child(1) {
  list-style-type: '🚗';
}

.timer-panel {
  grid-area: timer-panel;
  margin-top: 2ch;
  margin-left: 2ch;
  margin-right: 2ch;
}

.emoji-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.emoji-button:enabled {
  color: limegreen;
}

.timer-panel .unit-label {
  margin-left: 5px;
  margin-right: 5px;
}

.timer-panel .minutes-input {
  width: 7ch;
}

#page .row {
  display: inline-block;
}

#page .major {
  font-size: xx-large;
}
